@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Application Insight is configured for this .NET core Web App. Verify the Instumentation Key in the ApplicationSettings.Json file. 
    Web requests will be logged in the Application Insights. To test, navigate to different pages by clicking Menus (Home or Privacy). 
    Logged requests can be verified in the Azure portal - Application Insights.</p>
</div>
